---
import type {Profile} from "../../profile";

import ArticlePanel, {type Props as ArticlePanelProps} from "../panel/ArticlePanel.astro";
import VCardQRCode from "../vcard/VCardQRCode.astro";
import Paragraph from "../text/Paragraph.astro";
import HeadingPanel from "../panel/HeadingPanel.astro";

export type AttributeProps = Pick<Profile, "names"> & Pick<Profile["contact"], "label" | "qr"> & {
  "links": Profile["contact"]["entries"][keyof Profile["contact"]["entries"]][];
};

export type Props = AttributeProps & Omit<ArticlePanelProps, "importance" | "emphasis">;

const {label, names, links, qr, ...props} = Astro.props;
---

<ArticlePanel importance="low" emphasis="high" {...props}>
  <HeadingPanel importance="low" emphasis="low" accent="secondary">{label}</HeadingPanel>
  <div class="profile-contact">
    {qr.enabled &&
      <div class="profile-contact__qr">
        <div class="profile-contact__qr__container">
          <VCardQRCode {names} urls={links.map(link => link.url)} />
          <Paragraph importance="low">{qr.description}</Paragraph>
        </div>
      </div>
    }
    
    <div class="profile-contact__links">    
      {links.length > 0 && links.map(({newInstance, icon, url, label}) => {
        let target, rel;
        if (newInstance) {
          target = "_blank";
          rel = "noopener noreferrer";
        }

        const href = url.toString();
        if (label == undefined) {
          label = href.substring(url.protocol.length);
          if (label.startsWith("//")) {
            label = label.substring(2);
          }
        }

        return (
          <div class="profile-contact__links__link">
            <picture class="profile-contact__links__link__icon">
              <source srcset={icon.path} />
              <img alt={icon.description} width="12" class="profile-contact__links__link__icon__image"/>
            </picture>
            <a class="profile-contact__links__link__anchor" {href} {target} {rel}>{label}</a>
          </div>
        );
      })}
    </div>
  </div>
</ArticlePanel>

<style lang="scss" is:global>
  @use "../../style/configuration/breakpoint";
  @use "../../style/configuration/padding";
  @use "../../style/configuration/margin";
  @use "../../style/configuration/border";
  @use "../../style/configuration/color";
  @use "../../style/configuration/font";

  @use "../../style/mixins/panel" as *;
  @use "../../style/mixins/link" as *;

  .profile-contact {
    margin: margin.size("medium") margin.size("small");

    &__qr {
      padding: padding.size("large");

      border: border.size("small") dashed color.variable("contour");
      border-radius: border.radius("large");

      &__container {
        max-width: 13rem;

        margin: auto;
      }
    }

    &__links {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      gap: 0.5rem;

      margin: margin.size("medium") 0;

      @media (min-width: breakpoint.size("medium")) {
        grid-template-columns: 1fr;
      }

      &__link {
        text-wrap: nowrap;
        font-size: font.size("medium");

        &__icon {
          @include panel(
            $padding_size_name: "medium",
            $border_radius_name: "large",
            $shadow_offset_size_name: "small",
            $color_variant_name: "secondary",
            $color_name: "foreground"
          );

          display: inline-block;
          vertical-align: middle;

          margin-right: margin.size("small");

          &__image {
            display: block;
          }
        }

        @media (min-width: breakpoint.size("medium")) {
          font-size: font.size("small");
        }

        @media (min-width: breakpoint.size("large")) {
          font-size: font.size("medium");
        }

        &__anchor {
          text-wrap: wrap;
          word-break: break-word;

          @include link;
        }
      }
    }
  }
</style>