---
import type {Polymorphic} from "astro/types";

import type {Accent} from "../../types";

export type AttributeProps = {
  "accent": Accent;
  "label": string;
};

type _Props = Omit<Polymorphic<AttributeProps & {
  "as": "article";
}>, "as">;

export type Props = _Props;

const {accent, label, ...props} = Astro.props;
---
<article class="profile-article" {...props}>
  <h2 class={`profile-article__header-${accent}`}>{label}</h2>
  <div class="profile-article__content">
    <slot />
  </div>
</article>


<style lang="scss" is:global>
  @use "../../style/configuration/contour";
  @use "../../style/configuration/padding";
  @use "../../style/configuration/margin";
  @use "../../style/configuration/color";
  @use "../../style/configuration/font";

  @mixin _panel($contour_size_name, $accent_type, $color_name) {
    padding: padding.size("medium");
    border: contour.size("medium") solid color.variable("contour");
    border-radius: contour.radius("large");
    box-shadow: contour.size($contour_size_name) contour.size($contour_size_name) 0 color.variable("contour");

    background: color.variable($accent_type, $color_name);
    color: color.variable($accent_type, "text", $color_name);
  }

  .profile-article {
    @include _panel("large", "primary", "foreground");

    &__header {
      @each $accent_type in ("primary", "secondary") {
        &-#{$accent_type} {
          @include _panel("small", $accent_type, "accent");

          font-size: font.size("large");
          font-weight: font.weight("semibold");
        }
      }
    }

    &__content {
      margin: margin.size("medium") margin.size("small") margin.size("large") margin.size("small");
    }
  }
</style>