---
import type {ProfileContactEntry} from "../../../profile";

import Link from "../../text/Link.astro";

export interface Props extends ProfileContactEntry {}

const {icon, url, ...props} = Astro.props;

let target, rel;
if (props.newInstance) {
  target = "_blank";
  rel = "noopener noreferrer";
}

let linkText = props.label;
const href = url.toString();

if (props.label == undefined) {
  linkText = href.substring(url.protocol.length);
  if (linkText.startsWith("//")) {
    linkText = linkText.substring(2);
  }
}
---

<div class="profile-contact-link">
  <picture class="profile-contact-link__icon">
    <source srcset={icon.path} />
    <img alt={icon.description} width="12" class="profile-contact-link__icon__image"/>
  </picture>
  <Link {href} {target} {rel}>{linkText}</Link>
</div>

<style lang="scss" is:global>
  @use "../../../style/configuration/contour";
  @use "../../../style/configuration/padding";
  @use "../../../style/configuration/margin";
  @use "../../../style/configuration/color";

  .profile-contact-link {
    text-wrap: nowrap;

    &__icon {
      display: inline-block;
      vertical-align: middle;

      margin-right: margin.size("small");
      padding: padding.size("medium");

      background: color.variable("secondary", "foreground");
      color: color.variable("secondary", "text", "foreground");

      border: contour.size("medium") solid color.variable("contour");
      border-radius: contour.radius("large");
      box-shadow: contour.size("small") contour.size("small") 0 color.variable("contour");

      &__image {
        display: block;
      }
    }
  }
</style>
