---
import type {ProfileContactEntry} from "../../../profile";

export interface Props extends ProfileContactEntry {}

const {icon, url, ...props} = Astro.props;

let target, rel;
if (props.newInstance) {
  target = "_blank";
  rel = "noopener noreferrer";
}

let linkText = props.label;
const href = url.toString();

if (props.label == undefined) {
  linkText = href.substring(url.protocol.length);
  if (linkText.startsWith("//")) {
    linkText = linkText.substring(2);
  }
}
---

<div class="text-nowrap">
  <picture class="inline-block align-middle mr-2 p-1 border-2 border-contour rounded-lg">
    <source srcset={icon.path} />
    <img alt={icon.description} width="16" class="size-4" />
  </picture>
  <a class="underline font-light text-wrap break-words" {href} {target} {rel}>{linkText}</a>
</div>
