---
import Layout from "./Layout.astro";

import type {Profile} from "../profile";
import type {LocaleMetadata, LocaleName} from "../locale";

import ProfileInformationHeading from "../components/profile/ProfileInformationHeading.astro";
import ProfilePicture from "../components/profile/ProfilePicture.astro";
import PanelHeading from "../components/panel/PanelHeading.astro";
import Panel from "../components/panel/Panel.astro";
import ProfileContactPanel from "../components/profile/contact/ProfileContactPanel.astro";

export interface Props {
  "profile": Profile;
  "locale": {
    "name": LocaleName;
    "metadatas": [LocaleMetadata, ...LocaleMetadata[]];
  };
}

const {profile, locale} = Astro.props;
const {names, picture, contact, ...restProfile} = profile;
---

<Layout locale={locale.name} title={names.join(" ")}>
  <div class="grid md:grid-cols-[1fr_auto] print:grid-cols-[1fr_auto] md:grid-rows-[min-content_min-content] print:grid-rows-[min-content_min-content] gap-4 justify-center max-w-screen-xl mx-auto p-8 overflow-auto">
    <aside class="md:order-2 print:order-2 mb-6 justify-self-center">
      <ProfilePicture slot="aside-top" path={picture.path} description={picture.description} />
    </aside>
    <main class="md:row-span-3 print:row-span-3">
      <header>
        <ProfileInformationHeading slot="header" {names} role={restProfile.role} />
      </header>
      
      <Panel significance={200}>
        <PanelHeading>Example Panel Heading</PanelHeading>
      </Panel> 
    </main>
    <aside class="md:order-3 print:order-3 grid gap-6 md:max-w-72">
      <ProfileContactPanel label={contact.label} {names} qr={contact.qr} links={Object.values(contact.entries)
        .map(link => ({"label": link.label, "url": new URL(link.path), "newInstance": link.newInstance, "icon": link.icon}))}
      />
    </aside>
  </div>
</Layout>