---
import PageLayout, {type Props as PageLayoutProps} from "./PageLayout.astro";

import type {LocaleName, LocaleMetadata} from "../locale";
import type {Profile} from "../profile";

import ProfileTimelineArticle from "../components/profile/ProfileTimelineArticle.astro";
import ProfileAspectArticle from "../components/profile/ProfileAspectArticle.astro";
import ProfileHeader from "../components/profile/ProfileHeader.astro";

export type AttributeProps = {
  "profile": Profile;
  "locale": {
    "name": LocaleName;
    "metadatas": [LocaleMetadata, ...LocaleMetadata[]];
  };
};
export type Props = AttributeProps & Omit<PageLayoutProps, "locale" | "title">;

const {profile, locale} = Astro.props;
const {names, description, picture, contacts, timelines, aspects} = profile;
---

<PageLayout locale={locale.name} title={names.join(" ")}>
  <ProfileHeader {names} {description} {picture} contacts={Object.values(contacts)} />
  <main>
    {Object.values(timelines)
      .map(({label, entries}) =>
        <ProfileTimelineArticle entries={Object.values(entries)} {label} />
      )
    }
    {Object.values(aspects)
      .map(({label, entries}) =>
        <ProfileAspectArticle entries={Object.values(entries)} {label} />
      )
    }
  </main>
</PageLayout>