---
import "../style/layouts/profile.scss";

import PageLayout from "./PageLayout.astro";

import type {Profile} from "../profile";
import type {LocaleMetadata, LocaleName} from "../locale";

import ProfileInformationHeading from "../components/profile/ProfileInformationHeading.astro";
import ProfileContactPanel from "../components/profile/contact/ProfileContactPanel.astro";
import ProfilePicture from "../components/profile/ProfilePicture.astro";
import PanelHeading from "../components/panel/PanelHeading.astro";
import Panel from "../components/panel/Panel.astro";

export interface Props {
  "profile": Profile;
  "locale": {
    "name": LocaleName;
    "metadatas": [LocaleMetadata, ...LocaleMetadata[]];
  };
}

const {profile, locale} = Astro.props;
const {names, picture, contact, ...restProfile} = profile;
---

<PageLayout locale={locale.name} title={names.join(" ")}>
  <div class="profile">
    <aside class="profile__aside-top">
      <ProfilePicture path={picture.path} description={picture.description} />
    </aside>
    <main class="profile__main">
      <header>
        <ProfileInformationHeading {names} role={restProfile.role} />
      </header>
      
      <Panel importance="high">
        <PanelHeading>Example Panel Heading</PanelHeading>
      </Panel> 
    </main>
    <aside class="profile__aside-bottom">
      <ProfileContactPanel label={contact.label} {names} qr={contact.qr} links={Object.values(contact.entries)} />
    </aside>
  </div>
</PageLayout>